* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
  word-break: keep-all;
}

html,
body {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  padding: none;
}
input:focus {
  outline: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
}

p {
  color: #6b6b6b;
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  word-break: keep-all;

  @media (max-width: 767px) {
    font-size: 1.5rem;
  }
}